.slider {
    --duration: 3s;
    background: #f1f5f9;
    padding: 1.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 431px;
    margin: 0 auto 5rem auto;
    break-inside: avoid;

    &:last-child {
        margin-bottom: 0;
    }

    @media not all and (min-width: 1024px) {
        width: 100%;
    }
}

.slides {
    display: flex;
    animation: var(--slide-name) calc(var(--total-items) * var(--duration)) infinite ease-in-out;
}

@keyframes threeImagesSlide {
    0% {transform: translateX(0)}
    28.3% {transform: translateX(0)}

    33.3% {transform: translateX(-100%)}
    61.6% {transform: translateX(-100%)}

    66.6% {transform: translateX(-200%)}
    94.9% {transform: translateX(-200%)}
}

@keyframes fourImagesSlide {
    0% {transform: translateX(0)}
    20% {transform: translateX(0)}

    25% {transform: translateX(-100%)}
    45% {transform: translateX(-100%)}

    50% {transform: translateX(-200%)}
    70% {transform: translateX(-200%)}

    75% {transform: translateX(-300%)}
    95% {transform: translateX(-300%)}
}